<a href="https://colab.research.google.com/github/waynewei07/Codes/blob/main/week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 所有程式語言的第一步：「Hello World」

幾乎所有程式語言的第一堂課都是「Hello World」，也會使用「Hello World」作為第一個範例。  
為什麼是這句話呢？起源至今難以確認，不過倒是留下一些浪漫(可怕？)的傳說：  

*希望所有的程式語言*  
*或是說機器*  
*都會對世界說hello*  
*而不是terminated*  
Python自然也不例外。

# `Print()` 函數
在 Python 中，我們常常會需要將既有的數值輸出到電腦螢幕上，以便程式的測試等工作。這種時候，print() 函數就可以發揮它無比強大的功用。

In [ ]:
print(3)

3

In [ ]:
print("哈囉")

哈囉

在 print() 函數中，用逗號將要印出的東西分開，Python 將會自動將各個變數連結起來並印出：

In [ ]:
print("Hello", "World", "!")

Hello World !

In [ ]:
print("total cost:", 50.5)

total cost: 50.5

### sep 參數

我們可以從上面的例子看到，Python 自動在 Hello 與 World 兩個字中間加入了一個空格。那如果今天不使用空格將兩個字分開呢？如果現在我們想要用「|」來分隔兩個變數，那麼我們可以寫：

In [ ]:
print("Hello", "World", sep="44")

Hello44World

### end 參數

除了 sep 參數之外，end 也是一個 print() 時常常使用的參數。假設今天我想要將每個 print() 的結尾處加上一個逗號「.」，我們可以這樣寫：

In [ ]:
print("Hello", end=".")
print("World", end=".")

Hello.World.

In [ ]:
print("Hello", end=".\n")
print("World", "this is Kevin", sep="#", end=".")

Hello.
World#this is Kevin.

---

### 跳脫字元
在 Python 中，使用單引號（'）或雙引號（"）包起來的資料都是字串。然而，如果需要印出單引號或某些符號時，則必須以 \ 來跳脫（escape）處理，避免被誤認為字串結束。

In [ ]:
print("I'm Eric. He said Good Morning.")

I'm Eric. He said Good Morning.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print('I\'m Eric.')

I'm Eric.

**常見的跳脫字元：**  
\\\ 反斜線符號 (\)  
\\' 單引號 (')  
\\" 雙引號 (")  
\\b 空格符號  
\\f 換⾴符號  
\\n 換⾏符號  
\\r 返回符號  
\\t ⽔平縮排符號 (TAB)

---

# Values and types

### **資料值 (Value)**
- 資料值是程式處理的基礎項目之一
- 例如：整數 5 或字串 'Hello world'

### **基本資料型態 (Data Type)：不同的資料值屬於不同的資料型態**
- 整數 (Integer)：例如 5
- 浮點數 (Floating point, Float)：亦即「實數」，因小數點可以浮動，因此稱為浮點數
     - 3.2, 8.9
- 字串(String): 由一連串的字元組成，並且由兩個單引號或雙引號所包含
    - 'Hello world', '17', '3.2', "這是一個字串", '這也是一個字串'
- 布林(Boolean): 只有兩個值，「真」(True) 與「偽」(False)
- List: 列表是（不同的）資料型別的元素的有序序列。你可以使用方括號 [] 建立列表，並在方括號內使用逗號分隔列表項。
    - [1, 2, 3], ['the', 'clown', 'ran', 'after', 'the', 'car']
    - list()可以把其他data structure(tuple, set)轉為list

In [ ]:
type(17)

int

In [ ]:
type('"duck"不必')

str

In [ ]:
type(3.2)

float

In [ ]:
type(True)

bool

In [ ]:
type([2, 4.5, "blue"])

list

In [ ]:
"abc"[0]

'a'

In [ ]:
print([2, 4.5, "blue"][2][2])

u

### 取出字串部分內容：

In [ ]:
print('abc'[0])

a

In [ ]:
print('abcdefg'[2:5])

cde

---

In [ ]:
# string to list
print(list('abc'))

['a', 'b', 'c']

In [ ]:
type(list('abc'))

list

---

# Variables 變數

- 數學：變數是代表要求解的未知符號，例如x和y
- 程式設計：變數的用途是儲存資料，並不是未知數。

變數是具有名稱和值 (Value) 的記憶體位置。  
變數需有唯一的名稱, 以便來區分不同的記憶體位置。

在 Python 中, 在使用該變數之前不需要宣告變數 (指定資料型別)。  
如果要新建變數, 只需賦予該變數一個有效的名稱, 並使用賦值運算子`=`為其賦值。  
變數的資料型別將根據分配給它的值的型別自動來定義。

**Assignment statement : 可以建立新的變數(Variable)，並設定其值(Value)，語法如下:**

**`<variable> = <expr>`**
- variable ：變數名稱，是一個識別字
- expr ：表示式，可以是一個值或一個運算式

In [ ]:
# Assignment statements
message = 'And now for something completely different'
n = 17
pi = 3.1415926535897932

變數的type就是變數值的type :

In [ ]:
type(message)

str

In [ ]:
type(n)

int

In [ ]:
type(pi)

float

---

### List取值方式：

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
print(a[2:])

[3, 4, 5]

In [ ]:
print(a[1:3])

[2, 3]

In [ ]:
print(a[-2:])

[4, 5]

---

Python 變數的特性: **動態資料型別**，只要Assignment statement的資料型態改變，變數的資料型態就改變

In [ ]:
pi = 'pi'

In [ ]:
type(pi)

str

---

# 變數命名規則

- 以英文字母或底線開頭，之後可以接字母、數字、或底線，例如： phone, mobile_phone, mobilePhone, mobilePhone2, ...  
- 英文字母大小寫有別 (Case-sensitive) ，因此 address, Address, aDDress, 與 ADDRESS 均為不同的識別字  
- *建議依據 coding style 統一命名風格*

In [ ]:
trombones76 = 'big parade'

## [Python Keywords](https://realpython.com/python-keywords/)

Keywords 是具有特殊含義，而且不能用於命名任何變數、函式、類等的預先內部佔用的字元。  
關鍵字也被稱為保留字，它們實際上是為 Python 的自身的功能保留的。

In [ ]:
return = 'Advanced Theoretical Zymurgy'

SyntaxError: invalid syntax (527335060.py, line 1)

---

## 運算子跟運算元 (Operators & Operands)
- **<font size = "4">運算子 (Operators)**
    <ol style="line-height:2.5">  
        <li>+</li>  
        <li>-</li>  
        <li>*</li>     
        <li>/：除法，會有小數點，資料型別會變<b>浮點數</b> (float)</li>    
        <li>//：整除，資料型別會是整數 (int)</li>  
        <li>%：取餘數</li>  
        <li>**：次方 (power), 跟使用 pow() 相同</li>
    </ol>
     
- **<font size ="4">運算元 (Operands)**  
   <div style="line-height:2.5">
   1 + 1 = 2  </br>
   1 跟 2 都是 <b>運算元 (operands)</b>
   </div>

In [ ]:
# 加法：計算總共花費金額
chocolate = 80
bubble_tea = 50
cookies = 30

total_price = chocolate + bubble_tea + cookies

print(total_price)

160

In [ ]:
# 減法：計算 Diane 花費的金額
Diane_cost = total_price - cookies
print(Diane_cost)

130

In [ ]:
# 乘法：計算三杯珍奶金額
drinks = bubble_tea * 3
print(drinks)

150

In [ ]:
# 除法：計算每個人午餐平均花費金額
lunch_bill = 540
lunch_per_person = lunch_bill / 3

print(lunch_per_person)
# print(type(lunch_per_person))

180.0

In [ ]:
# 0 可以放在分母嗎？
print(0 / 2)

x=0
y=0

print(type(0 / 2))
# 如果除以 0 會得到什麼？
# print(0 / 0)

0.0
<class 'float'>

In [ ]:
# 整除：計算每個人晚餐花費金額
dinner_bill = 540
dinner_per_person = dinner_bill // 3

print(dinner_per_person)
print(type(dinner_per_person))
# print(type(dinner_per_person))

180
<class 'int'>

In [ ]:
# 取餘數
num_toys = 29
children = 13

num_left = 29 % 13
print(num_left)

3

In [ ]:
# 次方計算：算正方形面積
square_length = 5
square_area = square_length ** 2

power = pow(square_length, 2)

print(square_area)
print(power)

25
25

In [ ]:
# 次方結合乘法
pi = 3.1415926
radius = 9
circle_area = radius ** 2 * pi

print(circle_area)

254.46900060000002

In [ ]:
1/0

ZeroDivisionError: division by zero

---

## 正 / 負無窮大跟 NaN (Infiniy and Not a number)
<ul style="line-height:2.5">
    <li>正 / 負無窮大</br>
        若運算時無法確定仍為正 / 負無窮大，就會是 NaN</li>
    <li>NaN 代表無法被表示的數值</br>
        有 NaN 參與的運算結果一定也是 NaN</li>
</ul>

In [ ]:
pos_inf = float("inf")
print("正無窮大: ", pos_inf, "\n")

neg_inf = float("-inf")
print("負無窮大: ", neg_inf, "\n")

not_a_num = float('nan')
print("Not a number: ", not_a_num, "\n")

正無窮大:  inf

負無窮大:  -inf

Not a number:  nan

In [ ]:
print("正無窮大 * 0: ", pos_inf * 0)

正無窮大 * 0:  nan

In [ ]:
print("正無窮大 - 負無窮大:", pos_inf - neg_inf)

正無窮大 - 負無窮大: inf

In [ ]:
print("正無窮大 + 負無窮大: ", pos_inf + neg_inf)

正無窮大 + 負無窮大:  nan

In [ ]:
print("正無窮大 * 負無窮大: ", pos_inf * neg_inf)

正無窮大 * 負無窮大:  -inf

In [ ]:
print("正無窮大 / 負無窮大: ", pos_inf / neg_inf)

正無窮大 / 負無窮大:  nan

In [ ]:
print("NaN * 0: ", not_a_num * 0)

NaN * 0:  nan

In [ ]:
print("正無窮大 / NaN: ", pos_inf / not_a_num)

正無窮大 / NaN:  nan

---
## 計算順序 (Order of operations)

- **優先規則 (Rules of precedence)**
<ul style="line-height:2.5">
    <li>多個運算子 (Operator) 出現在一個 expression 裡面時</br>  
        遵守<b>優先規則</b> (rules of precedence) <b>PEMDAS</b>
    </li>
</ul>

---
#### PEMDAS
<ul style="line-height:2.5">
    <li>括號 (<b>P</b>arentheses)：</br>
     優先權 <b>最高</b>，可用於確保執行順序，也可用於增加易讀性
</ul>

In [ ]:
a = 2 * (3 - 1)
b = 2 * 3 - 1
print(a)
print(b)

4
5

- 次方 (**E**xponentiation)：第二優先權，比乘法更優先

In [ ]:
c = 3 * 1 ** 3
print(c)

3

<ul style="line-height:2.5">
    <li>乘法 (<b>M</b>ultiplication), 除法 (<b>D</b>ivision)。</br>
    優先於加法 (<b>A</b>ddition), 減法 (<b>S</b>ubstraction)
    <li>有一樣優先權的話就從左到右計算</li>
    <li>如果不確定優先權，可以用 <b>括號</b> 來確保計算順序正確</li>
</ul>

In [ ]:
total_cost = 96000
num_class = 8
class_student = 40

answer_1 = total_cost / num_class * class_student

total_students = num_class * class_student
answer_2 = total_cost / total_students

print("Answer 1: ", answer_1)
print("Answer 2: ", answer_2)

Answer 1:  480000.0
Answer 2:  300.0

---
## 字串操作 (String operations)

<ul style="line-height:2.5">
    <li> +：串連（concatenation）</li>
    <li> *：重複 (repetition)</li>
</ul>

In [ ]:
First_name = "Diane"
Last_name = "Cheng"

full_name = First_name + " " + Last_name

print(full_name)

Diane Cheng

In [ ]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [ ]:
Fish = "blue..."
say = Fish * 3
print("Fish: ", say)

Fish:  blue...blue...blue...

---

# Swap：交換兩變數的值

傳統做法：再宣告一個變數將值暫存

In [ ]:
a = "Hello"
b = "World"
print(a, b)

Hello World

In [ ]:
a = b
b = a
print(a,b)

World World

In [ ]:
temp = a
a = b
b = temp

In [ ]:
print(a, b)

World World

這個解決方案很麻煩，在python中我們可以優雅的使用`tuple assignment` ：

In [ ]:
a = "Hello"
b = "World"

In [ ]:
# tuple assignment
a, b = b, a

In [ ]:
print(a, b)

World Hello

左邊是variables, 右邊是expressions, 每個值(value)分配給各自的變數(variable)  
左右兩邊的變數數量必須是相同的：

In [ ]:
a, b, c = 1, 2, 3

其實，tuple assignment 的右側可以是任何類型的 list（string, list or tuple)  
例如，要將電子郵件地址拆分為用戶名和域，可以這樣寫：

In [ ]:
addr = 'montypython.org@123.123.123'
uname, domain = addr.split('@')

In [ ]:
print(uname)

montypython.org

In [ ]:
print(domain)

123.123.123

split() 的返回值是一個包含兩個元素的 list； 第一個元素分配給 uname，第二個元素分配給 domain

In [ ]:
print(addr.split('@'))

['montypython.org', '123.123.123']

---
## 註解跟除錯 (Commands & Debugging)

- 用來說明該行、該段程式碼的**目的**，而非說明程式碼本身行為
- 是給人類看，不是給機器看的
- 語法：\# Comments

In [ ]:
num_suject = 2
Chinese = 85
Math = 70

# 比較不好的註解: 把中文跟數學成績相加，之後再除以 2
# 比較好的註解: 計算科目的平均分數

average = (Chinese + Math) / num_suject

print("average: ", average)

average:  77.5

In [ ]:
# Error type: invalid syntax
# Chinese_score = 1
print(Chinese_score)

1

In [ ]:
# Error type: name "..." is not defined
principal = 327.68
interest = principle * rate

In [ ]:
# Logical Error
pi = 3.1415926

wrong_answer = 1 / 2 * pi
print(wrong_answer)
# right_answer = ?
# print(right_answer)

1.5707963

---
## 練習(一) Practice 1 (10 mins)

TODO:
1. 首先，計算出每個飲料、甜點的價格
2. 分別計算出 Simon 跟 Joanna 所花費的金額是多少？  
3. 最後，計算平均每個人花費多少金額

In [ ]:
# TODO 第一題

# (1) 珍奶價格為 5 的 5 次方，再被 123 整除, 再乘 2

# (2) 抹茶蛋糕價格為 150 除以 2 加 25 除以 20 的餘數


# 一片巧克力餅乾 $ 20
# 一次買 3 片巧克力餅乾 $ 50


# 檸檬蛋糕 $ 75


# 可麗露 $ 55

In [ ]:
# Simon: 兩杯珍奶, 抹茶蛋糕跟可麗露各一個
bubble=(pow(5, 5)//123)*2
cake=150//2+25%20

In [ ]:
# Joanna: 鮮奶茶一杯, 3 片巧克力餅乾, 檸檬蛋糕 2 個

In [ ]:
# 總花費

In [ ]:
# 平均花費

## 進階題

請使用者猜一個介於範圍（例如 1 到 50）之間的數字，若使用者猜錯，就詢問他們想繼續玩還是退出；若使用者猜對，就顯示祝賀訊息，並統計使用者的嘗試次數。如果使用者輸入的數字超出設定範圍，就顯示錯誤提示。